body{
    background-color: cornflowerblue;
}
h2{
    color: yellow;
}

.class01{
    color: violet;
}

.box{
    height: 100px;
    width: 100px;
    padding: 20px;
    margin: 10px;
    border: 10px solid black;
    background-color: red;
}
.box1{
    font-size: 12px;
    height: 100px;
    width: 100px;
    padding: 20px;
    margin: 10px;
    border: 10px solid black;
    background-color: red;
}

.flx{
    display: flex;
    flex-wrap: wrap;
}