body{
    background-color: brown;
    font-family:  arial;
}

.h3{

    font-size: 14px;
    font-style: italic;
    color: #FFFFFF;
    line-height: 50px;
    word-spacing: 20px;
    letter-spacing:1px;
    font-family: sans-serif;
}